@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 1.6rem;
    line-height: 1.5;
    background:#1d1d1d;
    display: block;
    min-width: 320px;
    font-family: "Open Sans",sans-serif;
    color: #fff;
    padding-left: 13rem;
    overflow-y: scroll;
    overflow-x: hidden;
}
html{
    font-size: 62.5%;
    min-width: 320px;
}
ul{
    list-style-type: none;
}
a { 
    background-color: transparent;
    color: #909096;;
    transition: color 0.3s;
    text-decoration: none;
}
a:hover{
    color: #08fdd8;
}

.sidebar-toggle {
opacity: 0;
position: fixed;
top: 2rem;
right: 3rem;
font-size: 3rem;
background: transparent;
border-color: transparent;
color: hsl(211, 27%, 70%);
transition:  all 0s linear;
cursor: pointer;
z-index: 10;
animation: bounce 2s ease-in-out infinite;
}

.close-btn {
    opacity:0;
    position: fixed;
    top: 2rem;
    right: 3rem;
    font-size: 3rem;
    font-size: 2.75rem;
    background: transparent;
    border-color: transparent;
    color: hsl(211, 27%, 70%);
    transition:  all 0s linear;
    cursor: pointer;
    z-index: 10;
    
  }

menu {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.main-menu {
    width: 13rem;
    background-color: #181818;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    right: auto;
    bottom: 0;
    display: flex;
    z-index: 3;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}


.main-menu__top {
    
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
}
.logo{
    text-align: center;
}
.logo h3{
    color: rgb(240, 79, 79);
    margin-top: 1px;
    font-size: 10.3rem;
    font-weight: 600;
    text-shadow:  -9px 0px 0px #08fdd8;
}
.logo span {
    
    color: #fff;
    margin-top: 1px;
    font-size: 2.7rem;
    font-weight: 600;
}
.main-menu_nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #282828;
}
.main-menu_nav a {
    text-align: center;
    width: 100%;
    display: block;
    font-size: 1.6rem;
    color: #909096;
    line-height: 5rem;
    font-family: 'JetBrains Mono', regular;
    font-weight: 400;
    z-index: 1000;
    border-bottom: 1px solid #282828;
    transition: all 0s linear;
}

.main-menu_nav a:hover{
    color: #08fdd8;
}

.social svg {
    width: 1.5rem;
}
.social li {
    margin-top: 1em;
    text-align: center;
}
.social {
    width: 100%;
  
    color: #909096;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex; 
    height: 20rem;
    justify-content: space-evenly;
}
div{
    display: block;
}




.section-full {
    min-height: 100vh;
    padding: 9rem 3rem;
    position: relative;
    transition:  0.4s;
    
}

.page-outer {
    min-height: 100vh;
    position: relative;
}

.top-tags {
    bottom: auto;
    top: 2rem;
}

.tags {
    color: #515152;
    position: absolute;
    bottom: 0;
    left: 4rem;
    font-size: 1.8rem;
    font-family: 'La Belle Aurore', cursive;
}

.top-tags:after {
    content: '<body>';
    font-family: 'La Belle Aurore', cursive;
    color: #515152;
    font-size: 1.8rem;
    position: absolute;
    margin-left: 2rem;
}



.section-home {
    min-height: 100vh;
    overflow: hidden;
  
}

.text-zone{
    margin-top: 8rem;
}
h1:before{
    content: '<h1>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 1.8rem;
    position: absolute;
    margin-left: -1rem;
    top: -50px;
}

h1:after{
    content: '</h1>';
    font-family: 'La Belle Aurore', cursive;
    color: #515152;
    font-size: 1.8rem;
    position: absolute;
   
    bottom: -30px;
   
}



.section-full .text-zone {
    padding-left: 5rem;
}
.section-full .text-zone span{
    color: #08fdd8;
    font-size: 7rem;	
    display: inline-block;
}
.section-home .text-zone span{
    color: #ffffff;
    font-size: 10rem;
    display: inline-block;
}

.section-home .text-zone span:hover {
    color: #08fdd8;
}

h1 {
    color: #fff;
    margin: 0;
    font-weight: 700;
    font-size: 8.3rem;
    line-height: 8.7rem;
    position: relative;
}



.section-home  span:hover{
    color: #08fdd8;
}
.bounce{
    cursor:context-menu;
    animation: bounce 1s linear forwards infinite;
}
@keyframes bounce{
    20%, 50%, 80%, to{
        transform: scale(1,1);
    }
    40%, 45%{
        transform: scale(1.75, 0.65);
    }
    60%{
        transform: scale(1.5, .75);
    }
    90%{
        transform: scale(1.15, .85);
    }
}

.gray-text {
    font-size: 1.6rem;
    letter-spacing: 4px;
    margin: 8rem 0;
    display: block;
    color: #ffffff;
   
}
.section-home .gray-text{
    color: #8d8d8d;
}

.text-zone p:before {
    content: '<p>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
    margin-top: -2.8rem;
    margin-left: -1rem;
    
}
.text-zone p:after {
    content: '<p/>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
    display: block;
    margin-left: -1rem;
  
}

.flat-button {
    color: #08fdd8;
    font-size: 14px;
    letter-spacing: 4px;
    font-family: "Open Sans",sans-serif;
    text-decoration: none;
    margin-top: 20px;
    position: relative;
    width: 100%;
    max-width: 220px;
    height: 50px;
    line-height: 50px;
    display: block;
    text-align: center;
    border: 2px solid #08fdd8;
   
    overflow: hidden;
    padding: 0
}


.flat-button .text:after {
    content: "";
    width: 4px;
    height: 4px;
    right: 0;
    bottom: 0;
    background: #08fdd8;
    position: absolute;
    -webkit-transition: 0.3s ease-out all;
    -o-transition: 0.3s ease-out all;
    transition: 0.3s ease-out all;
    z-index: 5;
}
.flat-button .bg {
  
    left: -2%;
    position: absolute;
    top: 0;
    background: #08fdd8;
    width: 0;
    height: 100%;
    z-index: -1000;
    transition: 0.3s ease-out all;
    overflow: hidden;
    transform: skewX(-10deg);
  
}
.flat-button:hover .text{
    z-index: 10000;
    color: #000000;
 
}

.flat-button:hover .bg{
    
    width: 110%;
    z-index: -1000;
 

}










h2 {
    color: #08fdd8;
    margin: 0;
    font-weight: 700;
    font-size: 8.3rem;
    line-height: 5.7rem;
    position: relative;
}

 h2:before{
    content: '<h2>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 1.8rem;
    position: absolute;
    margin-left: -1rem;
    top: -40px;
    
}

 h2:after{
    content: '<h2>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 1.8rem;
    position: absolute;
    margin-left: -1rem;
    margin-top: -1rem;
    display: block;
}

.contact-form ul li.half:first-child {
    margin-left: 0;
}
.contact-form ul li.half {
    width: 49%;
    margin-left: 2%;
    float: left;
    clear: none;
}

.contact-form ul li {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 10px;
  
    overflow: hidden;
    display: block;
    clear: both;
    position: relative;
}
.contact-form input[type="text"], .contact-form input[type="email"] {
    width: 100%;
    border: 0;
    background: #2b2b2b;
    height: 50px;
    font-size: 16px;
    color: #8d8d8d;
    padding: 0 20px;
  
    box-sizing: border-box;
}

button, input,textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

input {
    writing-mode: horizontal-tb !important;
    text-rendering: auto;

    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
  
    cursor: text;
 
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: rgb(118, 118, 118), rgb(133, 133, 133);
    border-image: initial;
}
input:active{
    border:1px solid #08fdd8;
}

textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

.contact-form textarea {
    width: 100%;
    border: 0;
    background: #2b2b2b;
    height: 50px;
    font-size: 16px;
    color: #8d8d8d;
    padding: 20px;
    
    box-sizing: border-box;
    min-height: 150px;
}

.contact-form .flat-button {
    float: right;
}

.contact-form::after{
    content: '</form>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
    display: block;
    margin-left: -1rem;
}

.contact-form::before{
    content: '<form>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
    display: block;
    margin-left: -1rem;
    margin-top:-40px ;
}
.section-skill{
    min-height: 100vh;
    overflow: hidden;
    display: flex;
}
.section-skill .text-zone {
    padding-right: 3rem;
    width: 50%;
    display: flex;
    flex-direction: column;
}
.section-skill .skill-delails{
    padding-right: 5rem;
    padding-top: 5rem;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.chart{
    margin-bottom: 2rem;
}

.chart span{
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 7px;
    display: block;
}

.chart .bar{
    background-color: #373737;
    position: relative;
    height: 2px;
   
}
.bar span{
    height: 2px;
    float: left;
}
.front_end{
    background-color: #08fdd8;
    width: 50%;
    animation: front_end 2s;
}
.back_end{
    width: 40%;
    background-color: red;
    animation: back_end 1s;
}
.py_game{
    width: 20%;
    background-color: darkviolet;
    animation: py_game 2s;
}

@keyframes front_end{
    0%{
        width: 0;
    }
    100%{
        width: 50%;
    }
}

@keyframes back_end{
    0%{
        width: 0;
    }
    100%{
        width: 40%;
    }
}


@keyframes back_end{
    0%{
        width: 0;
    }
    100%{
        width: 20%;
    }
}

.section-about .text-zone {
    padding-right: 5rem;
    width: 70%;
    display: flex;
    flex-direction: column;
    
}

.gray-text a{
    color: #08fdd8;
}


.institute{
    padding: 4rem;
    margin: auto;
    margin-top: 6rem;
    width: 70vw;
    height: 400px;
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: space-around;
    background:  #373737;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}


.institute .gray-text{
    width: 20vw;
}

.instituteImg{
    border-radius: 10px;
    height:85%; 
    width:53%;
   
    
}

.section-contact .text-zone {
    padding-right: 3rem;
    width: 50%;
    display: flex;
    flex-direction: column;
}


@media (max-width:1100px){
    body{
        padding: 0;
    }

    .sidebar-toggle {
        opacity: 1;
    }

    .close-btn {
        opacity: 1;
    }
    .logo h3{
        color: rgb(240, 79, 79);
        margin-top: 1px;
        font-size: 6.8rem;
        font-weight: 600;
        text-shadow:  -9px 0px 0px #08fdd8;
    }
    .main-menu{
       width: 100%;
       height: 100vh;
       z-index: -1;
       visibility: hidden;

      
    }
    .main-menu_nav a {
        z-index: 1000;
      
    }
    
    .open-nav{
        z-index: 1000;
        visibility: visible;
    }
    .section-full .text-zone {
        padding-left: 1rem;
        width: 100%;
    }
    .section-full .text-zone span{
        color: #08fdd8;
        font-size: 4.5rem;	
        display: inline-block;
    }
    .section-home .text-zone span{
        color: #ffffff;
        font-size: 6rem;
        display: inline-block;
    }
    .section-full .text-zone{
        width: 100%;
        display: grid;
        
    }

    .flat-button {
        max-width: 200px;
        height: 45px;
        line-height: 45px;
    }
      
    .section-skill{
        display: block;
    }

    .section-skill .skill-delails{
        width: 100%;
        margin-left: 3rem;
    }

    
    .institute{
        display: block;
        height: 500px;
    }

    .institute img{
        border-radius: 10px;
        width: 100%;
        height: 53%;
        
    }
    
    .institute .gray-text{
        width: 100%;
    }

    
.section-contact .text-zone {
    padding-right: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}


    h1 {
        color: #fff;
        margin: 0;
        font-weight: 700;
        font-size: 5.3rem;
        line-height: 8.7rem;
        position: relative;
    }

    
    
}

.divForMargin {
    margin-bottom: 0.3em;
}

@media screen and (max-width: 767px) {
    .divForMargin {
        margin-bottom: 0; /* Decrease font size by 5% on mobile */
    }
}

.about-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 2rem;
  }
   
  .about-img img {
    width: 80%;
    border-radius: 0.5rem;
  }
  .about-text p {
    font-size: var(--p-font);
    font-weight: 400;
    text-align: justify;
  }
  .information {
    margin: 1rem 0 1.4rem;
  }
  .information .info-box {
    display: flex;
    align-items: center;
    margin-bottom: 1.4rem;
  }
  .information .info-box .bx {
    font-size: 22px;
  }
  .information .info-box span {
    font-weight: 400;
    margin-left: 1rem;
  }

  .navbar-image {
    width: 70px; /* Adjust the size as needed */
    height: 70px; /* Ensure a square aspect ratio for a circular image */
    border-radius: 50%; /* Make the image circular */
    object-fit: cover; /* Ensure the image covers the entire container */
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2); /* Add a subtle outer shadow */
}

.tagcloud {
    display: inline-block;
    
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    letter-spacing: 0.0625em;
    
}

/* Change color of each text in sphere on hover   */
.tagcloud--item {
    color: #00ffffff;
    text-transform: uppercase;
}

.tagcloud--item:hover {
    color: #ff6347;
    cursor:pointer;
}
